body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
  }
  p{
  color: red;
  }
  #game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #score {
    margin-top: 20px;
    font-size: 24px;
  }

  .svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .svg-container button {
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
  }